blockquote {
	border-left: none;
	padding: 0;
}
.author {
	display: block;
	text-align: right;
}
#q42 {
	width: 100px;
}
.towelimg {
	border: solid #333 5px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}